{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["import", "jsx-a11y", "react"],
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": false }],
    "no-underscore-dangle": [2, { "allowAfterThis": true }]
  }
}
