@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: local("Montserrat Thin"),
    url("./assets/fonts/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: local("Montserrat ThinItalic"),
    url("./assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: local("Montserrat ExtraLight"),
    url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: local("Montserrat ExtraLightItalic"),
    url("./assets/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: local("Montserrat Light"),
    url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: local("Montserrat LightItalic"),
    url("./assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat Regular"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: local("Montserrat Italic"),
    url("./assets/fonts/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat Medium"),
    url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: local("Montserrat MediumItalic"),
    url("./assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat SemiBold"),
    url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: local("Montserrat SemiBoldItalic"),
    url("./assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat Bold"),
    url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: local("Montserrat BoldItalic"),
    url("./assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: local("Montserrat ExtraBold"),
    url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: local("Montserrat ExtraBoldItalic"),
    url("./assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: local("Montserrat Black"),
    url("./assets/fonts/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: local("Montserrat BlackItalic"),
    url("./assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}
