@font-face {
  font-family: "Montserrat";
  src: url("./components/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./components/fonts/Montserrat-Bold.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
